.headerWrapper {
    width: 100%;
    height: 12.5rem;
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    width: 7.8rem;
    height: 3rem;
    display: flex;
}

.headerLogo img {
    margin-right: .5rem;
}


