.headerWrapper {
    width: 100%;
    height: 12.5rem;
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    width: 7.8rem;
    height: 3rem;
    display: flex;
}

.headerLogoTo {
    color: var(--blue);
    font-size: 2.5rem;
    font-family: var(--interFont);
}

.headerLogoDo {
    color: var(--darkPurple);
    font-size: 2.5rem;
    font-family: var(--interFont);
}

.headerLogo img {
    margin-right: .5rem;
}


